form{
    width: 960px;
    border: solid 1px;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
}
input{
    width: 790px;
    margin: 2px;
    padding: 16px 12px;
}
button{
    padding: 6px 10px;
    width: 85%;
    height: 40px;
    border: none;
    background-color: rgb(33,114,184);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 20px;
}


